# Kiểm tra

In [ ]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [3]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

In [4]:
%%sql
select
    first_name,
    last_name
from customer
limit 5

Done.

[('Luís', 'Gonçalves'),
 ('Leonie', 'Köhler'),
 ('François', 'Tremblay'),
 ('Bjørn', 'Hansen'),
 ('František', 'Wichterlová')]

In [6]:
%%sql
with genre_sold_USA as(
    select g.name genre,
           sum(il.quantity) sum_sold
    from genre g
    left join track t on t.genre_id = g.genre_id
    left join invoice_line il on il.track_id = t.track_id
    left join invoice i on i.invoice_id = il.invoice_id
    left join customer c on c.customer_id = i.customer_id
    
    where country = 'USA'
    group by 1
    order by 2 DESC
)
select gsu.genre genre,
       gsu.sum_sold absolute numbers,
       Round(gsu.sum_sold * 100 / (select count(*) from genre_sold_USA gsu),2) Percentages_sold
from genre_sold_USA

(sqlite3.OperationalError) near "numbers": syntax error
[SQL: with genre_sold_USA as(
    select g.name genre,
           sum(il.quantity) sum_sold
    from genre g
    left join track t on t.genre_id = g.genre_id
    left join invoice_line il on il.track_id = t.track_id
    left join invoice i on i.invoice_id = il.invoice_id
    left join customer c on c.customer_id = i.customer_id

    where country = 'USA'
    group by 1
    order by 2 DESC
)
select gsu.genre genre,
       gsu.sum_sold absolute numbers,
       Round(gsu.sum_sold * 100 / (select count(*) from genre_sold_USA gsu),2) Percentages_sold
from genre_sold_USA]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [6]:
%%sql
select e.first_name || " " || e.last_name Employee_sales,
       e.title Title,
       e.birthdate Birthdate,
       e.hire_date Hire_date,
       round(sum(i.total),2) Total_sales_$,
       round(sum(i.total) * 100 / (select sum(total) from invoice),2) Per_sales
from employee e
left join customer c on c.support_rep_id = e.employee_id
left join invoice i on c.customer_id = i.customer_id
where e.title = "Sales Support Agent"
group by 1
order by 6 DESC;

Done.

[('Jane Peacock', 'Sales Support Agent', '1973-08-29 00:00:00', '2017-04-01 00:00:00', 1731.51, 36.77),
 ('Margaret Park', 'Sales Support Agent', '1947-09-19 00:00:00', '2017-05-03 00:00:00', 1584.0, 33.63),
 ('Steve Johnson', 'Sales Support Agent', '1965-03-03 00:00:00', '2017-10-17 00:00:00', 1393.92, 29.6)]

In [12]:
%%sql
with genre_sold_USA as(
    select g.name genre,
           sum(il.quantity) sum_sold
    from genre g
    left join track t on t.genre_id = g.genre_id
    left join invoice_line il on il.track_id = t.track_id
    left join invoice i on i.invoice_id = il.invoice_id
    left join customer c on c.customer_id = i.customer_id
    
    where c.country = 'USA'
    group by 1
    order by 2 DESC
)
Select gsu.genre Genre,
       gsu.sum_sold Absolute_sold,
       Round(gsu.sum_sold * 100 / (select total(gsu.sum_sold) from genre_sold_USA gsu),2) Percentage_sold
from genre_sold_USA gsu;

Done.

[('Rock', 561, 53.38),
 ('Alternative & Punk', 130, 12.37),
 ('Metal', 124, 11.8),
 ('R&B/Soul', 53, 5.04),
 ('Blues', 36, 3.43),
 ('Alternative', 35, 3.33),
 ('Latin', 22, 2.09),
 ('Pop', 22, 2.09),
 ('Hip Hop/Rap', 20, 1.9),
 ('Jazz', 14, 1.33),
 ('Easy Listening', 13, 1.24),
 ('Reggae', 6, 0.57),
 ('Electronica/Dance', 5, 0.48),
 ('Classical', 4, 0.38),
 ('Heavy Metal', 3, 0.29),
 ('Soundtrack', 2, 0.19),
 ('TV Shows', 1, 0.1)]

In [19]:
%%sql
with track_invoice as(
    select * from invoice i
    inner join invoice_line il on il.invoice_id = i.invoice_id
    inner join customer c on c.customer_id = i.customer_id
    where c.country = 'USA'
)
select g.name genre,
       count(tr.invoice_line_id) absolute_numbers,
       cast(count(tr.invoice_line_id) as float) / ( select count(*) from track_invoice) percentage_sold
from track_invoice tr
inner join track t on t.track_id = tr.track_id
inner join genre g on g.genre_id = t.genre_id
group by g.name
order by 2 DESC

Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Latin', 22, 0.02093244529019981),
 ('Pop', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425),
 ('Easy Listening', 13, 0.012369172216936251),
 ('Reggae', 6, 0.005708848715509039),
 ('Electronica/Dance', 5, 0.004757373929590866),
 ('Classical', 4, 0.003805899143672693),
 ('Heavy Metal', 3, 0.0028544243577545195),
 ('Soundtrack', 2, 0.0019029495718363464),
 ('TV Shows', 1, 0.0009514747859181732)]

# Choose the new product for sale at stores.

In [8]:
%%sql
WITH track_invoice AS
(
    SELECT 
    *
    FROM invoice i 
    INNER JOIN invoice_line il ON i.invoice_id = il.invoice_id
    INNER JOIN customer c ON c.customer_id = i.customer_id
    WHERE c.country = 'USA'
)
SELECT
g.name genre,
COUNT(tr.invoice_line_id) genre_track_sold,
CAST(COUNT(tr.invoice_line_id) AS FLOAT) / (SELECT COUNT(*) FROM track_invoice) percentage_sold
FROM track_invoice tr 
INNER JOIN track t ON t.track_id = tr.track_id
INNER JOIN genre g ON t.genre_id = g.genre_id 
GROUP BY g.name
ORDER BY 2 DESC
LIMIT 30

Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Latin', 22, 0.02093244529019981),
 ('Pop', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425),
 ('Easy Listening', 13, 0.012369172216936251),
 ('Reggae', 6, 0.005708848715509039),
 ('Electronica/Dance', 5, 0.004757373929590866),
 ('Classical', 4, 0.003805899143672693),
 ('Heavy Metal', 3, 0.0028544243577545195),
 ('Soundtrack', 2, 0.0019029495718363464),
 ('TV Shows', 1, 0.0009514747859181732)]

 ## We can easily decide which albums to include according to their sales in the US.
## Ones to include: Punk,Blues,Pop

 ## Tìm xem nhân viên nào bán nhiều hàng nhất

In [26]:
%%sql
select e.first_name || " " || e.last_name Employee_name,
       e.title Title,
       e.birthdate Birthdate,
       max(invoice_date) latest_invoice_date,
       round(sum(i.total),2) Total_sales_$,
       round(sum(i.total) * 100 / (select sum(total) from invoice),2) Perc_sales
from employee e
left join customer c on c.support_rep_id = e.employee_id
left join invoice i on c.customer_id = i.customer_id
where e.title = "Sales Support Agent"
group by 1
order by 6 DESc;

Done.

[('Jane Peacock', 'Sales Support Agent', '1973-08-29 00:00:00', '2020-12-30 00:00:00', 1731.51, 36.77),
 ('Margaret Park', 'Sales Support Agent', '1947-09-19 00:00:00', '2020-12-29 00:00:00', 1584.0, 33.63),
 ('Steve Johnson', 'Sales Support Agent', '1965-03-03 00:00:00', '2020-12-20 00:00:00', 1393.92, 29.6)]

In [16]:
%%sql
WITH track_invoice AS
(
    SELECT 
    *
    FROM invoice i 
    INNER JOIN invoice_line il ON i.invoice_id = il.invoice_id
    INNER JOIN customer c ON c.customer_id = i.customer_id
    WHERE c.country = 'USA'
)
SELECT 
e.first_name || " " || e.last_name employee_name,
SUM(total) total_sale,
hire_date
FROM track_invoice tr
INNER JOIN employee e ON e.employee_id = tr.support_rep_id
GROUP BY employee_id
ORDER BY total_sale DESC
limit 20

Done.

[('Margaret Park', 5115.3300000000045, '2017-05-03 00:00:00'),
 ('Steve Johnson', 3281.8500000000045, '2017-10-17 00:00:00'),
 ('Jane Peacock', 2008.7100000000016, '2017-04-01 00:00:00')]

 ## There are 3 employees who stand out with their sale.

In [17]:
%%sql
SELECT * FROM employee 
limit 5

Done.

[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2016-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'),
 (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2016-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'),
 (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2017-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2017-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2017-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')]

## Analyze sale data based on different countries.

In [9]:
%%sql 
select sum(total) from invoice

Done.

[(4709.429999999994,)]

In [7]:
%%sql
with track_invoice as(
    select *,
    case 
    when (select count(*) from customer group by country) = 1 then "Other"
    else c.country
    end as spe_cus
    from customer c
    inner join invoice i on c.customer_id = i.customer_id
    order by spe_cus
)
select country, round(sum(total),2) total_sale, count(customer_id) num_customer,
       round(cast(sum(total) as FLOAT) / count(customer_id),3) avg_cus,
       round(cast(sum(total) as FLOAT) / count(invoice_id),3) avg_invoice
from track_invoice tr
group by 1
order by 2 DESC;

Done.

[('USA', 1040.49, 131, 7.943, 7.943),
 ('Canada', 535.59, 76, 7.047, 7.047),
 ('Brazil', 427.68, 61, 7.011, 7.011),
 ('France', 389.07, 50, 7.781, 7.781),
 ('Germany', 334.62, 41, 8.161, 8.161),
 ('Czech Republic', 273.24, 30, 9.108, 9.108),
 ('United Kingdom', 245.52, 28, 8.769, 8.769),
 ('Portugal', 185.13, 29, 6.384, 6.384),
 ('India', 183.15, 21, 8.721, 8.721),
 ('Ireland', 114.84, 13, 8.834, 8.834),
 ('Spain', 98.01, 11, 8.91, 8.91),
 ('Chile', 97.02, 13, 7.463, 7.463),
 ('Australia', 81.18, 10, 8.118, 8.118),
 ('Finland', 79.2, 11, 7.2, 7.2),
 ('Hungary', 78.21, 10, 7.821, 7.821),
 ('Poland', 76.23, 10, 7.623, 7.623),
 ('Sweden', 75.24, 10, 7.524, 7.524),
 ('Norway', 72.27, 9, 8.03, 8.03),
 ('Austria', 69.3, 9, 7.7, 7.7),
 ('Netherlands', 65.34, 10, 6.534, 6.534),
 ('Belgium', 60.39, 7, 8.627, 8.627),
 ('Italy', 50.49, 9, 5.61, 5.61),
 ('Argentina', 39.6, 5, 7.92, 7.92),
 ('Denmark', 37.62, 10, 3.762, 3.762)]

In [18]:
%%sql
WITH track_invoice AS
(
   SELECT *,
    CASE 
    WHEN (SELECT COUNT(*) FROM customer GROUP BY country) = 1 THEN "Other"
    ELSE c.country
    END AS spe_cus
     
   FROM customer c
   INNER JOIN invoice i ON c.customer_id = i.customer_id
   ORDER BY spe_cus
)

SELECT
country,ROUND(sum(total),2) total_sale,COUNT(customer_id) num_customer,
ROUND(CAST(SUM(total) AS FLOAT)  / COUNT(customer_id),3) avg_cus,
ROUND(CAST(SUM(total) AS FLOAT)  / COUNT(invoice_id),3) avg_invoice
FROM track_invoice tr
GROUP BY 1
ORDER BY 2 DESC

Done.

[('USA', 1040.49, 131, 7.943, 7.943),
 ('Canada', 535.59, 76, 7.047, 7.047),
 ('Brazil', 427.68, 61, 7.011, 7.011),
 ('France', 389.07, 50, 7.781, 7.781),
 ('Germany', 334.62, 41, 8.161, 8.161),
 ('Czech Republic', 273.24, 30, 9.108, 9.108),
 ('United Kingdom', 245.52, 28, 8.769, 8.769),
 ('Portugal', 185.13, 29, 6.384, 6.384),
 ('India', 183.15, 21, 8.721, 8.721),
 ('Ireland', 114.84, 13, 8.834, 8.834),
 ('Spain', 98.01, 11, 8.91, 8.91),
 ('Chile', 97.02, 13, 7.463, 7.463),
 ('Australia', 81.18, 10, 8.118, 8.118),
 ('Finland', 79.2, 11, 7.2, 7.2),
 ('Hungary', 78.21, 10, 7.821, 7.821),
 ('Poland', 76.23, 10, 7.623, 7.623),
 ('Sweden', 75.24, 10, 7.524, 7.524),
 ('Norway', 72.27, 9, 8.03, 8.03),
 ('Austria', 69.3, 9, 7.7, 7.7),
 ('Netherlands', 65.34, 10, 6.534, 6.534),
 ('Belgium', 60.39, 7, 8.627, 8.627),
 ('Italy', 50.49, 9, 5.61, 5.61),
 ('Argentina', 39.6, 5, 7.92, 7.92),
 ('Denmark', 37.62, 10, 3.762, 3.762)]

In [19]:
%%sql
SELECT * FROM album 
limit 5

Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

In [20]:
%%sql
SELECT * 
FROM invoice i
INNER JOIN invoice_line il ON il.invoice_id  = i.invoice_id
INNER JOIN track t ON t.track_id = il.track_id
INNER JOIN album al ON al.album_id = t.album_id
limit 5

Done.

[(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 1, 1, 1158, 0.99, 1, 1158, 'Right Next Door to Hell', 91, 2, 1, None, 182321, 3175950, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 2, 1, 1159, 0.99, 1, 1159, "Dust N' Bones", 91, 2, 1, None, 298374, 5053742, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 3, 1, 1160, 0.99, 1, 1160, 'Live and Let Die', 91, 2, 1, None, 184016, 3203390, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 4, 1, 1161, 0.99, 1, 1161, "Don't Cry (Original)", 91, 2, 1, None, 284744, 4833259, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 5, 1, 1162, 0.99, 1, 1162, 'Perfect Crime', 91, 2, 1, None, 143637, 2550030, 0.99, 91, 'Use Your Illusion I', 88)]

In [21]:
%%sql
SELECT * 
FROM invoice i
INNER JOIN invoice_line il ON il.invoice_id  = i.invoice_id
INNER JOIN track t ON t.track_id = il.track_id
INNER JOIN album al ON al.album_id = t.album_id
limit 50

Done.

[(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 1, 1, 1158, 0.99, 1, 1158, 'Right Next Door to Hell', 91, 2, 1, None, 182321, 3175950, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 2, 1, 1159, 0.99, 1, 1159, "Dust N' Bones", 91, 2, 1, None, 298374, 5053742, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 3, 1, 1160, 0.99, 1, 1160, 'Live and Let Die', 91, 2, 1, None, 184016, 3203390, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 4, 1, 1161, 0.99, 1, 1161, "Don't Cry (Original)", 91, 2, 1, None, 284744, 4833259, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 5, 1, 1162, 0.99, 1, 1162, 'Perfect Crime', 91, 2, 1, None, 143637, 2550030, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 6, 1, 1163, 0.99, 1, 1163, "You Ain't the First", 91, 2, 1, None, 156268, 2754414, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 7, 1, 1164, 0.99, 1, 1164, 'Bad Obsession', 91, 2, 1, None, 328282, 5537678, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 8, 1, 1165, 0.99, 1, 1165, 'Back off Bitch', 91, 2, 1, None, 303436, 5135662, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 9, 1, 1166, 0.99, 1, 1166, "Double Talkin' Jive", 91, 2, 1, None, 203637, 3520862, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 10, 1, 1167, 0.99, 1, 1167, 'November Rain', 91, 2, 1, None, 537540, 8923566, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 11, 1, 1168, 0.99, 1, 1168, 'The Garden', 91, 2, 1, None, 322175, 5438862, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 12, 1, 1169, 0.99, 1, 1169, 'Garden of Eden', 91, 2, 1, None, 161539, 2839694, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 13, 1, 1170, 0.99, 1, 1170, "Don't Damn Me", 91, 2, 1, None, 318901, 5385886, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 14, 1, 1171, 0.99, 1, 1171, 'Bad Apples', 91, 2, 1, None, 268351, 4567966, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 15, 1, 1172, 0.99, 1, 1172, 'Dead Horse', 91, 2, 1, None, 257600, 4394014, 0.99, 91, 'Use Your Illusion I', 88),
 (1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84, 16, 1, 1173, 0.99, 1, 1173, 'Coma', 91, 2, 1, None, 616511, 10201342, 0.99, 91, 'Use Your Illusion I', 88),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 17, 2, 3476, 0.99, 1, 3476, 'Help Yourself', 322, 2, 9, 'Freddy James, Jimmy hogarth & Larry Stock', 300884, 5029266, 0.99, 322, 'Frank', 252),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 18, 2, 482, 0.99, 1, 482, 'Good Riddance (Time Of Your Life)', 39, 1, 4, 'Billie Joe Armstrong -Words Green Day -Music', 153600, 5075241, 0.99, 39, 'International Superhits', 54),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 19, 2, 2701, 0.99, 1, 2701, 'Blinded By Rainbows', 218, 1, 1, 'Jagger/Richards', 273946, 8971343, 0.99, 218, 'Voodoo Lounge', 142),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 20, 2, 1641, 0.99, 1, 1641, 'Gallows Pole', 134, 1, 1, 'Traditional', 296228, 9757151, 0.99, 134, 'Led Zeppelin III', 22),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 21, 2, 1119, 0.99, 1, 1119, 'Toda Menina Baiana', 73, 1, 7, 'Gilberto Gil', 278177, 9351000, 0.99, 73, 'Unplugged', 81),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 22, 2, 2324, 0.99, 1, 2324, 'Pretty Persuasion', 190, 1, 4, 'R.E.M.', 229929, 7577754, 0.99, 190, 'The Best Of R.E.M.: The IRS Years', 124),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 23, 2, 201, 0.99, 1, 201, 'Keep It To Myself (Aka Keep It To Yourself)', 20, 1, 6, 'Sonny Boy Williamson [i]', 166060, 5487056, 0.99, 20, 'The Best Of Buddy Guy - The Millenium Collection', 15),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 24, 2, 819, 0.99, 1, 819, 'Talk About Love', 66, 1, 1, 'roger glover', 247823, 8072171, 0.99, 66, 'The Battle Rages On', 58),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 25, 2, 392, 0.99, 1, 392, 'Tim Tim Por Tim Tim', 34, 1, 7, 'Vários', 213237, 7143328, 0.99, 34, 'Chill: Brazil (Disc 2)', 6),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9, 26, 2, 2651, 0.99, 1, 2651, "Can't Stand Losing You", 215, 1, 1, 'G M Sumner', 181159, 5971983, 0.99, 215, 'The Police Greatest Hits', 141),
 (3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98, 27, 3, 2516, 0.99, 1, 2516, 'Black Hole Sun', 203, 1, 1, 'Soundgarden', 320365, 10425229, 0.99, 203, 'A-Sides', 132),
 (3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98, 28, 3, 2646, 0.99, 1, 2646, 'I Looked At You', 214, 1, 1, 'Robby Krieger, Ray Manzarek, John Densmore, Jim Morrison', 142080, 4663988, 0.99, 214, 'The Doors', 140),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 29, 4, 3448, 0.99, 1, 3448, 'Lamentations of Jeremiah, First Set \\ Incipit Lamentatio', 314, 2, 24, 'Thomas Tallis', 69194, 1208080, 0.99, 314, 'English Renaissance', 247),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 30, 4, 2560, 0.99, 1, 2560, 'Violent Pornography', 207, 1, 3, 'Dolmayan, John/Malakian, Daron/Odadjian, Shavo', 211435, 6985960, 0.99, 207, 'Mezmerize', 135),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 31, 4, 3336, 0.99, 1, 3336, 'War Pigs', 260, 4, 23, None, 234013, 8052374, 0.99, 260, 'Cake: B-Sides and Rarities', 196),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 32, 4, 829, 0.99, 1, 829, "Let's Get Rocked", 67, 1, 1, None, 296019, 9724150, 0.99, 67, "Vault: Def Leppard's Greatest Hits", 78),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 33, 4, 1872, 0.99, 1, 1872, 'Attitude', 153, 1, 3, 'Hetfield, Ulrich', 315898, 10335734, 0.99, 153, 'ReLoad', 50),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 34, 4, 748, 0.99, 1, 748, 'Dealer', 58, 1, 1, 'Bolin/Coverdale', 230922, 7591066, 0.99, 58, 'Come Taste The Band', 58),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 35, 4, 1778, 0.99, 1, 1778, "You're What's Happening (In The World Today)", 146, 1, 14, 'Allen Story/George Gordy/Robert Gordy', 142027, 4631104, 0.99, 146, 'Seek And Shall Find: More Of The Best (1963-1981)', 104),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92, 36, 4, 2514, 0.99, 1, 2514, 'Spoonman', 203, 1, 1, 'Chris Cornell', 248476, 8289906, 0.99, 203, 'A-Sides', 132),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 37, 5, 1986, 0.99, 1, 1986, 'Intro', 163, 1, 1, 'Kurt Cobain', 52218, 1688527, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 38, 5, 1987, 0.99, 1, 1987, 'School', 163, 1, 1, 'Kurt Cobain', 160235, 5234885, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 39, 5, 1988, 0.99, 1, 1988, 'Drain You', 163, 1, 1, 'Kurt Cobain', 215196, 7013175, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 40, 5, 1989, 0.99, 1, 1989, 'Aneurysm', 163, 1, 1, 'Nirvana', 271516, 8862545, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 41, 5, 1990, 0.99, 1, 1990, 'Smells Like Teen Spirit', 163, 1, 1, 'Nirvana', 287190, 9425215, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 42, 5, 1991, 0.99, 1, 1991, 'Been A Son', 163, 1, 1, 'Kurt Cobain', 127555, 4170369, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 43, 5, 1992, 0.99, 1, 1992, 'Lithium', 163, 1, 1, 'Kurt Cobain', 250017, 8148800, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 44, 5, 1993, 0.99, 1, 1993, 'Sliver', 163, 1, 1, 'Kurt Cobain', 116218, 3784567, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 45, 5, 1994, 0.99, 1, 1994, 'Spank Thru', 163, 1, 1, 'Kurt Cobain', 190354, 6186487, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 46, 5, 1995, 0.99, 1, 1995, 'Scentless Apprentice', 163, 1, 1, 'Nirvana', 211200, 6898177, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 47, 5, 1996, 0.99, 1, 1996, 'Heart-Shaped Box', 163, 1, 1, 'Kurt Cobain', 281887, 9210982, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 48, 5, 1997, 0.99, 1, 1997, 'Milk It', 163, 1, 1, 'Kurt Cobain', 225724, 7406945, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 49, 5, 1998, 0.99, 1, 1998, 'Negative Creep', 163, 1, 1, 'Kurt Cobain', 163761, 5354854, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83, 50, 5, 1999, 0.99, 1, 1999, 'Polly', 163, 1, 1, 'Kurt Cobain', 149995, 4885331, 0.99, 163, 'From The Muddy Banks Of The Wishkah [live]', 110)]

In [22]:
%%sql 
SELECT
COUNT(track_id),title,t.album_id
FROM album al 
INNER JOIN track t ON t.album_id = al.album_id
GROUP BY al.album_id
limit 5

Done.

[(10, 'For Those About To Rock We Salute You', 1),
 (1, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 3),
 (8, 'Let There Be Rock', 4),
 (15, 'Big Ones', 5)]

In [23]:
%%sql
WITH invoice_first_track  AS
    (
     SELECT
         il.invoice_id invoice_id,
         MIN(il.track_id) first_track_id
     FROM invoice_line il
     GROUP BY 1
    )
SELECT t.track_id ,t.name,t.album_id
FROM track t,invoice_first_track ifs
WHERE t.album_id = (
SELECT t2.album_id FROM track t2
WHERE t2.track_id = ifs.first_track_id)    
limit 50

Done.

[(1158, 'Right Next Door to Hell', 91),
 (1159, "Dust N' Bones", 91),
 (1160, 'Live and Let Die', 91),
 (1161, "Don't Cry (Original)", 91),
 (1162, 'Perfect Crime', 91),
 (1163, "You Ain't the First", 91),
 (1164, 'Bad Obsession', 91),
 (1165, 'Back off Bitch', 91),
 (1166, "Double Talkin' Jive", 91),
 (1167, 'November Rain', 91),
 (1168, 'The Garden', 91),
 (1169, 'Garden of Eden', 91),
 (1170, "Don't Damn Me", 91),
 (1171, 'Bad Apples', 91),
 (1172, 'Dead Horse', 91),
 (1173, 'Coma', 91),
 (194, 'First Time I Met The Blues', 20),
 (195, 'Let Me Love You Baby', 20),
 (196, 'Stone Crazy', 20),
 (197, 'Pretty Baby', 20),
 (198, 'When My Left Eye Jumps', 20),
 (199, 'Leave My Girl Alone', 20),
 (200, 'She Suits Me To A Tee', 20),
 (201, 'Keep It To Myself (Aka Keep It To Yourself)', 20),
 (202, 'My Time After Awhile', 20),
 (203, 'Too Many Ways (Alternate)', 20),
 (204, "Talkin' 'Bout Women Obviously", 20),
 (2506, 'Nothing To Say', 203),
 (2507, 'Flower', 203),
 (2508, 'Loud Love', 203),
 (2509, 'Hands All Over', 203),
 (2510, 'Get On The Snake', 203),
 (2511, 'Jesus Christ Pose', 203),
 (2512, 'Outshined', 203),
 (2513, 'Rusty Cage', 203),
 (2514, 'Spoonman', 203),
 (2515, 'The Day I Tried To Live', 203),
 (2516, 'Black Hole Sun', 203),
 (2517, 'Fell On Black Days', 203),
 (2518, 'Pretty Noose', 203),
 (2519, 'Burden In My Hand', 203),
 (2520, 'Blow Up The Outside World', 203),
 (2521, 'Ty Cobb', 203),
 (2522, 'Bleed Together', 203),
 (745, "Comin' Home", 58),
 (746, 'Lady Luck', 58),
 (747, "Gettin' Tighter", 58),
 (748, 'Dealer', 58),
 (749, 'I Need Love', 58),
 (750, 'Drifter', 58)]

In [26]:
%%sql
WITH invoice_first_track  AS
    (
     SELECT
         il.invoice_id invoice_id,
         MIN(il.track_id) first_track_id
     FROM invoice_line il
     GROUP BY 1
    )
SELECT t2.album_id FROM track t2,invoice_first_track ifs
WHERE t2.track_id = ifs.first_track_id
limit 50

Done.

[(91,),
 (20,),
 (203,),
 (58,),
 (163,),
 (5,),
 (6,),
 (9,),
 (20,),
 (215,),
 (49,),
 (10,),
 (206,),
 (42,),
 (65,),
 (4,),
 (7,),
 (82,),
 (11,),
 (7,),
 (1,),
 (33,),
 (1,),
 (90,),
 (5,),
 (10,),
 (101,),
 (5,),
 (39,),
 (5,),
 (221,),
 (6,),
 (206,),
 (49,),
 (1,),
 (16,),
 (55,),
 (16,),
 (19,),
 (11,),
 (16,),
 (1,),
 (73,),
 (242,),
 (11,),
 (214,),
 (1,),
 (7,),
 (15,),
 (122,)]

In [37]:
%%sql
WITH invoice_first_track AS
(
    SELECT 
    il.invoice_id invoice_id,
    MIN(track_id) first_track_id
     FROM invoice_line il
    GROUP BY 1
)
SELECT album_purchase, COUNT(invoice_id) number_of_invoices,
CAST(COUNT(invoice_id) AS FLOAT) /(SELECT COUNT(*) FROM invoice) percent
FROM
(
SELECT ifs.*,    
CASE 
   WHEN
       (
           SELECT t.track_id FROM track t
           WHERE t.album_id = (
                             SELECT t2.album_id FROM track t2
                             WHERE t2.track_id = ifs.first_track_id
                            )
       EXCEPT 
           SELECT il2.track_id FROM invoice_line il2
           WHERE il2.invoice_id = ifs.invoice_id
       ) IS NULL
    AND
       (
           SELECT il2.track_id FROM invoice_line il2
           WHERE il2.invoice_id = ifs.invoice_id
        EXCEPT
           SELECT t.track_id FROM track t
           WHERE t.album_id = (
                             SELECT t.album_id FROM track t
                             WHERE t.track_id = ifs.first_track_id
                           )
           
       ) IS NULL
        Then "Yes"
        ELSE "No"
        END AS "album_purchase"
       
            

FROM invoice_first_track ifs
)    
GROUP BY album_purchase

Done.

[('No', 500, 0.8143322475570033), ('Yes', 114, 0.18566775244299674)]